html{
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  font-family: 'Epilogue', sans-serif;
  background-image: url(images/email-pattern.png);
}

p{
  margin: 0;
}

h1{
  margin: 0;
  font-size: 80px;
  text-align: center;
}
  
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav-a:hover {
  background-color: #e34c26;
  color: #ddd;
}
.topnav-b:hover {
  background-color: #264de4;
  color: #ddd;
}
  
.topnav a.active {
  background-color: rgb(8, 156, 241);
  color: white;
}

.arrow{
  height: 50px;
  width: 50px;
}

.header{
  padding: 18% 0 19% 0;
}  

footer {
  padding-top: 0.1px;
  padding-bottom: 00.1px;
  text-align: center;
  background: #ddd;
}

.example-image1{
border-radius: 10px;
box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
width:50px;
height:50px;
}

.example-image2{
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  width:50px;
  height:50px;
}
