body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  
  .topnav-a:hover {
    background-color: #e34c26;
    color: #ddd;
  }
  .topnav-b:hover {
    background-color: #264de4;
    color: #ddd;
  }
  
  .topnav a.active {
    background-color: rgb(8, 156, 241);
    color: white;
  }

  * {
    box-sizing: border-box;
  }
  .header {
    padding: 80px;
    text-align: center;
    color: white;
    border-radius: 50%;
  }
  .header h1 {
    font-size: 30px;
  }

  .row {  
    display: flex;
    flex-wrap: wrap;
  }


  .side {
    flex: 30%;
    background-color: gray;
    padding: 20px;
  }
  .main {   
    flex: 70%;
    background-color: gray;
    padding: 20px;
  }
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}